.Article {
    background-color: #232323;
    border-radius: 20px;
    max-width: 30vw;
    height: 240px;
    padding: 0px 12px 0px 12px;
    transition: 0.3s; /* transition for smooth effects */
    padding: 10px; /* just for better visualization */
    cursor: pointer; /* changes the cursor to hand when hovered */
}
.Article:hover {
    /* styles you want to apply when the div is hovered over */
    background-color: #673ab7; /* this is just an example, you can use any color */
    transform: scale(1.05); /* this enlarges the div slightly */
}