.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.Header-logo-button {
    all: unset;
}

.Header-logo-button:hover {
    cursor: pointer;
}

.Header-preferences-button {
    all: unset;
    color: #565656;
}

.Header-preferences-button:hover {
    color: black;
    cursor: pointer;
}

.Header-signup-button {
    all: unset;
    background-color: #673ab7;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 30px;
    font-weight: bold;
}

.Header-signup-button:hover {
    cursor: pointer;
    background-color: #8561c5;
}

.Header-signup-button-content {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}